{{ define "main" }}
<article class="flex-l flex-wrap justify-between mw8 center ph3">
    <div
        class="nested-copy-line-height lh-copy f4 nested-links nested-img pr4-l w-two-thirds-l"
    >
        {{- .Content -}}

        <div class="mt6 instapaper_ignoref"></div>
    </div>

    <aside class="w-30-l mt4-l">
        {{ with .Params.sideimage }}
        <figure>
            <img class="mw5 w-100 {{ .class | default "br-100" }}"
            src="{{.source}}" />
        </figure>
        {{end}}
    </aside>
</article>
{{ end }}
